body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(37, 38, 49);
}

img {
  width: 100%;
}

main {
  padding: 4%;
}

form {
  margin-left: 40%;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

img {
  width: 45%;
  height: auto;
  padding: 5%;
}

.aqi {
  float: right;
  width: 80% !important;
}

#home_video {
  margin-left: 25%;
}

.aside_img {
  width: 100%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.words {
  padding-bottom: 4%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav {
  padding-top: 2%;
}

.nav__links a,
.cta,
a {
  font-family: "Montserrat", sans-serif;

  color: #edf0f1;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav__links li {
  padding: 0% 2%;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(164, 91, 236);
}

#active {
  font-weight: bolder;
  font-size: 1.1vw;
}

a {
  text-decoration: none;
}
h1,
h2,
h5 {
  text-align: center;
  padding-bottom: 5%;
}

.nav__links {
  display: flex;
  justify-content: center;
}

.logo {
  cursor: pointer;
  font-family: "League Spartan", sans-serif;
  font-size: 1.8vw;
  color: #edf0f1;
  text-decoration: none;
  margin-right: auto;
}

.text {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

h2 {
  padding: 2%;
}

aside {
  float: right;
}
.aside_img {
  margin-bottom: 5%;
}

.info {
  columns: 2;
  column-gap: 1%;
  font-family: sans-serif;
  line-height: 1.6;
  margin-bottom: 1%;
}

.info img {
  width: 100%;
  height: auto;

  margin-bottom: 0.5%;
  border-radius: 0.05%;
}

.info p {
  margin-bottom: 1.2%;
}

form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}

label {
  display: block;
  margin-top: 1em;
}

.required-asterisk {
  color: red;
}

input,
textarea,
button {
  width: 100%;
  padding: 1%;
  margin-top: 0.3em;
  box-sizing: border-box;
  font-size: 1em;
}

button {
  margin-top: 1em;
  background: rgb(17, 18, 32);

  color: white;
  border: none;
}

#read_more {
  padding-bottom: 20%;
  padding-left: 5%;
}

#bkg {
  background-image: url("images/bkg_img.avif");
  color: black;
  padding-top: 2%;
}

table {
  width: 100%;
  
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}
